flow.json
[
    {
        "id": "97a26d9e76390f7d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1fbf295f73cccb97",
        "type": "subflow",
        "name": "Drive Reference",
        "info": "",
        "category": "VSD",
        "in": [
            {
                "x": 170,
                "y": 60,
                "wires": [
                    {
                        "id": "eb883084.7d28d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 150,
                "wires": [
                    {
                        "id": "a770ba9dd1d7b8a8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#E9967A",
        "icon": "node-red-dashboard/ui_gauge.png",
        "status": {
            "x": 230,
            "y": 110,
            "wires": [
                {
                    "id": "1fbf295f73cccb97",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "c8b77ff3.ab501",
        "type": "subflow",
        "name": "VSDBasic",
        "info": "",
        "category": "VSD",
        "in": [
            {
                "x": 90,
                "y": 200,
                "wires": [
                    {
                        "id": "d411e0cd.a63f9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1090,
                "y": 220,
                "wires": [
                    {
                        "id": "d5c3f10c.5e2e1",
                        "port": 0
                    }
                ]
            },
            {
                "x": 2190,
                "y": 190,
                "wires": [
                    {
                        "id": "216d993bc16931d2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#E9967A",
        "icon": "font-awesome/fa-mail-forward",
        "status": {
            "x": 1270,
            "y": 270,
            "wires": [
                {
                    "id": "bfda390e.8957b8",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "26573071a48db557",
        "type": "group",
        "z": "97a26d9e76390f7d",
        "name": "ADQUISICIÓN TIEMPO",
        "style": {
            "stroke": "#3f93cf",
            "label": true,
            "color": "#bfdbef"
        },
        "nodes": [
            "fbbad81c51b7c9d2",
            "14fb6705bc502211",
            "167835101b38128a",
            "f5900ce8e402ca3f",
            "256a01f253197f61",
            "617fe08dd990bc56",
            "2f612e1ebb27e1f0",
            "88a857e06437d475",
            "e8e036dd9c3ab8cc",
            "0fc93e2433e0e8fd",
            "2c5bc1422dee2f23",
            "b9ecd8244f4759a0"
        ],
        "x": 854,
        "y": 219,
        "w": 652,
        "h": 282
    },
    {
        "id": "2a06f1ebdf6594bd",
        "type": "group",
        "z": "97a26d9e76390f7d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "90c2a4fe8d950dec",
            "55c924f19922f406",
            "db4256d9d91906e7",
            "a62be44d478fd497",
            "28a1b81a153ece02",
            "c51151e6106ab441",
            "700b07323e59394d",
            "4ddb7c483b76e187",
            "856b8deec1318ea5",
            "2e284f8dad321902",
            "4a073f2b7cbd9967",
            "f7fbd465f57d789e",
            "5464cbc6e13e1e7f",
            "d82c1b712d554325",
            "a0fa8d9f1acb3ca5",
            "b3f32032e938eacc"
        ],
        "x": 114,
        "y": 639,
        "w": 1352,
        "h": 282
    },
    {
        "id": "28c8f5c5afe69e5a",
        "type": "group",
        "z": "97a26d9e76390f7d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "09761a95081546b8",
            "2b30a6219b8e68d1",
            "24af01133d6a3313",
            "2d4339ea4d29470a",
            "ab9f3c56846f6405",
            "ece217650efbf988",
            "1a5c6702e1d15a8f",
            "649ab25d25f0fac6",
            "bf5de5ea2d599498",
            "abad8208a8a02cb2"
        ],
        "x": 634,
        "y": 959,
        "w": 852,
        "h": 282
    },
    {
        "id": "7a43ddafe014d4ab",
        "type": "group",
        "z": "97a26d9e76390f7d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "025b1dc9349bcd2e",
            "70440e787acffd19",
            "e5799ad112c8e627",
            "c9cdf69d7792c813",
            "ebf9f97b644ccd1b"
        ],
        "x": 674,
        "y": 519,
        "w": 832,
        "h": 142
    },
    {
        "id": "623ed09f1a445c2b",
        "type": "group",
        "z": "97a26d9e76390f7d",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "667d890688ef13ec",
            "9b8f3a9cc10dddf9",
            "c37e65fc3624b7f7",
            "525cd360bcb57854",
            "876e5483b107547a",
            "e9acb49079908ed9",
            "1e14c7a3b1944014",
            "5e74ed0d74c32c1a",
            "dcc2e38d1a69f3e4",
            "4f1b315f5d9b3851",
            "ba6328cf9c55541d"
        ],
        "x": 434,
        "y": 39,
        "w": 1572,
        "h": 162
    },
    {
        "id": "e9d237aaf9318e74",
        "type": "pccc endpoint",
        "address": "192.168.2.10",
        "port": "44818",
        "userouting": false,
        "cycletime": "500",
        "timeout": "1500",
        "name": "PowerFlex755T_Write",
        "vartable": [
            {
                "addr": "N42:3",
                "name": "TimeOut"
            },
            {
                "addr": "N45:4",
                "name": "PF755T_SpeedReference"
            },
            {
                "addr": "N45:0",
                "name": "CommandWord"
            },
            {
                "addr": "N45:2",
                "name": "Ref_1"
            },
            {
                "addr": "N45:3",
                "name": "Ref_2"
            }
        ]
    },
    {
        "id": "270cdcbdf3846a19",
        "type": "ui_tab",
        "name": "CONTROL ON OFF",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f3bb63224212f42",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d25e36ba754beaaa",
        "type": "ui_group",
        "name": "indicadores",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "b33c308eb96337b7",
        "type": "ui_group",
        "name": "Arrancar",
        "tab": "270cdcbdf3846a19",
        "order": 1,
        "disp": true,
        "width": 17,
        "collapse": false
    },
    {
        "id": "9d512981.aa8278",
        "type": "ui_tab",
        "name": "Configuración VSD",
        "icon": "fa-cogs",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fee63820f619a9e1",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "e55ca82bc0aabca9",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "fee63820f619a9e1",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "f023f1ab18989eca",
        "type": "ui_group",
        "name": "Horometro",
        "tab": "9d512981.aa8278",
        "order": 18,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "51547be1fed99530",
        "type": "pccc endpoint",
        "d": true,
        "address": "192.168.2.10",
        "port": "44818",
        "userouting": false,
        "routing": "",
        "cycletime": "500",
        "timeout": "1500",
        "name": "PowerFlex755T_Read",
        "vartable": [
            {
                "addr": "N45:0",
                "name": "Logic_Status_1"
            },
            {
                "addr": "N45:1",
                "name": "Logic_Status_2"
            },
            {
                "addr": "N45:0",
                "name": "Logic_Command_1"
            },
            {
                "addr": "N45:1",
                "name": "Logic_Command_2"
            },
            {
                "addr": "N150:2",
                "name": "Output_Frequency_1"
            },
            {
                "addr": "N150:3",
                "name": "Output_Frequency_2"
            },
            {
                "addr": "N150:4",
                "name": "Commanded_SpdRef_1"
            },
            {
                "addr": "N150:5",
                "name": "Commanded_SpdRef_2"
            },
            {
                "addr": "N150:6",
                "name": "Mtr_Vel_Fdbk_1"
            },
            {
                "addr": "N150:7",
                "name": "Mtr_Vel_Fdbk_2"
            },
            {
                "addr": "N150:14",
                "name": "Output_Current_1"
            },
            {
                "addr": "N150:15",
                "name": "Output_Current_2"
            },
            {
                "addr": "N150:16",
                "name": "Output_Voltage_1"
            },
            {
                "addr": "N150:17",
                "name": "Output_Voltage_2"
            },
            {
                "addr": "N150:18",
                "name": "Output_Power_1"
            },
            {
                "addr": "N150:19",
                "name": "Output_Power_2"
            },
            {
                "addr": "N150:20",
                "name": "Output_Powr_Fctr_1"
            },
            {
                "addr": "N150:21",
                "name": "Output_Powr_Fctr_2"
            },
            {
                "addr": "N150:22",
                "name": "DC_Bus_Volts_1"
            },
            {
                "addr": "N150:23",
                "name": "DC_Bus_Volts_2"
            },
            {
                "addr": "N150:30",
                "name": "Elapsed_Run_Time_1"
            },
            {
                "addr": "N150:31",
                "name": "Elapsed_Run_Time_2"
            },
            {
                "addr": "N150:36",
                "name": "Elpsd_Mtr_kWHrs_1"
            },
            {
                "addr": "N150:37",
                "name": "Elpsd_Mtr_kWHrs_2"
            },
            {
                "addr": "N157:134",
                "name": "IGBT_Temp_C_1"
            },
            {
                "addr": "N157:135",
                "name": "IGBT_Temp_C_2"
            },
            {
                "addr": "N157:138",
                "name": "Drive_Temp_C_1"
            },
            {
                "addr": "N157:139",
                "name": "Drive_Temp_C_2"
            },
            {
                "addr": "N157:152",
                "name": "Last_Fault_Code_1"
            },
            {
                "addr": "N157:153",
                "name": "Last_Fault_Code_2"
            },
            {
                "addr": "N166:174",
                "name": "PMM_OL_Select_1"
            },
            {
                "addr": "N166:175",
                "name": "PMM_OL_Select_2"
            },
            {
                "addr": "N151:190",
                "name": "Digital_In_Sts_1"
            },
            {
                "addr": "N151:191",
                "name": "Digital_In_Sts_2"
            },
            {
                "addr": "N166:214",
                "name": "Tunning_Select_1"
            },
            {
                "addr": "N166:215",
                "name": "Tunning_Select_2"
            },
            {
                "addr": "N154:70",
                "name": "Accel_Time_1"
            },
            {
                "addr": "N154:71",
                "name": "Accel_Time_2"
            },
            {
                "addr": "N154:74",
                "name": "Decel_Time_1"
            },
            {
                "addr": "N154:75",
                "name": "Decel_Time_2"
            },
            {
                "addr": "N154:40",
                "name": "Max_Fwd_Speed_1"
            },
            {
                "addr": "N154:41",
                "name": "Max_Fwd_Speed_2"
            }
        ]
    },
    {
        "id": "72c35d2e50b74a35",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "d25e36ba754beaaa",
        "order": 3,
        "width": 9,
        "height": 1
    },
    {
        "id": "422864d81c5e792f",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "d25e36ba754beaaa",
        "order": 5,
        "width": 9,
        "height": 1
    },
    {
        "id": "3eff546be7f78913",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "b494cabdd80caaff",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 5,
        "width": 5,
        "height": 1
    },
    {
        "id": "eb0d0ec4d15cec13",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "7827cf905530d6cb",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f5ae87933ba7ca9",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "ec6f7a216cc3e7c2",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "550cdf6ee55885b5",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 14,
        "width": 13,
        "height": 1
    },
    {
        "id": "549f9b2a81b2d46a",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "e1f49a124270d995",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 16,
        "width": 5,
        "height": 1
    },
    {
        "id": "65fa673dc771fed3",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "c441fc0d62058a3a",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "3634032f7b6be57e",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "61722e89a197a4d9",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "00793de620cbb8a4",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "f6411fa544dc7b95",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "01622a4a441c96ba",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 28,
        "width": 2,
        "height": 1
    },
    {
        "id": "07a8f120f2f49005",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "4a9bb2e7315fe28f",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 30,
        "width": 6,
        "height": 1
    },
    {
        "id": "7dd88239044d023f",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "da2eb42686ae2942",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f587b8f86800d64",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 35,
        "width": 6,
        "height": 1
    },
    {
        "id": "14db33d8aeb183b1",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 37,
        "width": 2,
        "height": 1
    },
    {
        "id": "6cf539b95cb9c042",
        "type": "ui_spacer",
        "z": "97a26d9e76390f7d",
        "name": "spacer",
        "group": "b33c308eb96337b7",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "673a44a4224904a9",
        "type": "pccc out",
        "z": "1fbf295f73cccb97",
        "endpoint": "e9d237aaf9318e74",
        "variable": "PF755T_SpeedReference",
        "name": "",
        "x": 460,
        "y": 60,
        "wires": []
    },
    {
        "id": "eb883084.7d28d",
        "type": "function",
        "z": "1fbf295f73cccb97",
        "name": "Scale",
        "func": "msg.payload = Math.abs(msg.payload*10000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "673a44a4224904a9",
                "e814c62e3cef2e85"
            ]
        ]
    },
    {
        "id": "e814c62e3cef2e85",
        "type": "change",
        "z": "1fbf295f73cccb97",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "C2S.Last_Reference.Source",
                "pt": "global",
                "to": "Topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "a770ba9dd1d7b8a8",
        "type": "complete",
        "z": "1fbf295f73cccb97",
        "name": "",
        "scope": [
            "673a44a4224904a9"
        ],
        "uncaught": false,
        "x": 410,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "496f46c9.6e2eb8",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::C2S.Command.Run",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "#:(file)::C2S.Command.Reset",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 110,
        "wires": [
            [
                "d5c3f10c.5e2e1"
            ]
        ]
    },
    {
        "id": "faf6a9fc.1f3448",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(file)::C2S.Command.Run",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "#:(file)::C2S.Command.Reset",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 150,
        "wires": [
            [
                "d5c3f10c.5e2e1"
            ]
        ]
    },
    {
        "id": "a92c8835.c15158",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "C2S.Command.Reset",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 190,
        "wires": [
            [
                "d5c3f10c.5e2e1"
            ]
        ]
    },
    {
        "id": "d5c3f10c.5e2e1",
        "type": "function",
        "z": "c8b77ff3.ab501",
        "name": "LogicCommand",
        "func": "//Buffer\nvar buffer = [0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0];\n\n//Global variables asignations\nvar Start_Stop  = global.get(\"C2S.Command.Run\");\nvar Direction = global.get(\"C2S.Command.Direction\");\nvar Reset = global.get(\"C2S.Command.Reset\")\nvar Command     = 0;\n\n// Start/Stop\nif(Start_Stop === true){buffer[0] = 0;  buffer[1] = 1;} // Start\nelse{                   buffer[0] = 1;  buffer[1] = 0;} // Stop\n\n//Reset\n//if(Reset === true){     buffer[3] = 1;}                 // Reset\n//else{                   buffer[3] = 0;}\n\n// Direction\nif(Direction === true){buffer[4] = 0;   buffer[5] = 1;} // Reverse\nelse{                  buffer[4] = 1;   buffer[5] = 0;} // Forward \n\n//Command construction\nfor(var i=0; i<buffer.length; i++){\n    Command += buffer[i] * Math.pow(2, i);\n}\n\n//Mensaje de salida\nif(msg.payload == 'Start'){\n    if(Direction === true){\n        msg.command = \"Arranque 'Reverse'\";\n    }\n    else{\n        msg.command = \"Arranque 'Forward'\";\n    }\n}\nelse if(msg.payload == 'Stop'){\n    msg.command = \"Parada del equipo\";\n}\nelse if(msg.payload == 'Reset'){\n    msg.command = \"Reset del equipo\";\n}\nelse if(msg.payload == 'Forward'){\n    msg.command = \"Cambio sentido de giro a 'Forward'\";\n}\nelse if(msg.payload == 'Reverse'){\n    msg.command = \"Cambio sentido de giro a 'Reverse'\";\n}\n\n// Estado del nodo\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload});\n\nmsg.payload = Command;\nif (Reset === true) { msg.payload=8;}\n\nmsg.buffer  = buffer;\n\nmsg.Start_Stop = Start_Stop;\nmsg.Direction = Direction;\nmsg.Reset = Reset;\nmsg.Command = Command;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 190,
        "wires": [
            [
                "bfda390e.8957b8",
                "c46b2a9d6cbcacb5",
                "ab6b7001.e0de8",
                "0a3404882583c05d"
            ]
        ]
    },
    {
        "id": "e3a323f2.83da5",
        "type": "switch",
        "z": "c8b77ff3.ab501",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Reset",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 340,
        "y": 150,
        "wires": [
            [
                "496f46c9.6e2eb8"
            ],
            [
                "faf6a9fc.1f3448"
            ],
            [
                "a92c8835.c15158"
            ]
        ]
    },
    {
        "id": "d411e0cd.a63f9",
        "type": "switch",
        "z": "c8b77ff3.ab501",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Basic",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Direction",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "e3a323f2.83da5"
            ],
            [
                "3f954611.0fa83a"
            ]
        ]
    },
    {
        "id": "3f954611.0fa83a",
        "type": "switch",
        "z": "c8b77ff3.ab501",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 250,
        "wires": [
            [
                "29c6c985.5a6e56"
            ],
            [
                "1138740f.c6a8fc"
            ]
        ]
    },
    {
        "id": "29c6c985.5a6e56",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Forward",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "C2S.Command.Direction",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "C2S.Command.Reset",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 230,
        "wires": [
            [
                "d5c3f10c.5e2e1"
            ]
        ]
    },
    {
        "id": "1138740f.c6a8fc",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Reverse",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "C2S.Command.Direction",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "C2S.Command.Reset",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 270,
        "wires": [
            [
                "d5c3f10c.5e2e1"
            ]
        ]
    },
    {
        "id": "bfda390e.8957b8",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1150,
        "y": 270,
        "wires": [
            []
        ]
    },
    {
        "id": "cbfdace94f49381c",
        "type": "pccc out",
        "z": "c8b77ff3.ab501",
        "endpoint": "e9d237aaf9318e74",
        "variable": "CommandWord",
        "name": "",
        "x": 1460,
        "y": 110,
        "wires": []
    },
    {
        "id": "c46b2a9d6cbcacb5",
        "type": "delay",
        "z": "c8b77ff3.ab501",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1090,
        "y": 110,
        "wires": [
            [
                "0e34b34e76fa0ed8"
            ]
        ]
    },
    {
        "id": "0e34b34e76fa0ed8",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1260,
        "y": 110,
        "wires": [
            [
                "cbfdace94f49381c"
            ]
        ]
    },
    {
        "id": "0941bfa0e5e19a06",
        "type": "delay",
        "z": "c8b77ff3.ab501",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1640,
        "y": 190,
        "wires": [
            [
                "e6b8689589569367"
            ]
        ]
    },
    {
        "id": "4f7a0a355a6d4671",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::Active0",
                "pt": "flow",
                "to": "#:(memoryOnly)::C2S.Drive_Status.Active",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 190,
        "wires": [
            [
                "0941bfa0e5e19a06"
            ]
        ]
    },
    {
        "id": "e6b8689589569367",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::Active1",
                "pt": "flow",
                "to": "#:(memoryOnly)::C2S.Drive_Status.Active",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1860,
        "y": 190,
        "wires": [
            [
                "216d993bc16931d2"
            ]
        ]
    },
    {
        "id": "216d993bc16931d2",
        "type": "function",
        "z": "c8b77ff3.ab501",
        "name": "Arranque/Parada",
        "func": "var Active0     = flow.get(\"Active0\",'memoryOnly');\nvar Active1     = flow.get(\"Active1\",'memoryOnly');\nvar Arranque    = ((msg.command == \"Arranque 'Forward'\") || (msg.command==\"Arranque 'Reverse'\")) ? true:false;\nvar Parada      = msg.command == \"Parada del equipo\" ? true:false;\ndelete msg.topic;\n// Arranque exitoso\nif(Arranque && Active0 == 0 && Active0 != Active1){\n    msg.payload =\"Arranque exitoso\";\n    global.set(\"C2S.FlagStatus\",true);\n}\n// Arranque fallido\nelse if(Arranque && Active0 == 0 && Active0 == Active1){\n    msg.payload = \"Arranque fallido\";\n}\n// Parada Exitosa\nelse if (Parada && Active0 == 1 && Active0 != Active1){\n    msg.payload = \"Parada exitosa\";\n    global.set(\"C2S.FlagStatus\", false);\n}\n// Parada Fallida\nelse if (Parada && Active0 == 1 && Active0 == Active1){\n    msg.payload = \"Parada fallida\";\n}\nelse{\n    return;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2050,
        "y": 190,
        "wires": [
            []
        ]
    },
    {
        "id": "3bcd0bc25707cae3",
        "type": "inject",
        "z": "c8b77ff3.ab501",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 1290,
        "y": 70,
        "wires": [
            [
                "cbfdace94f49381c"
            ]
        ]
    },
    {
        "id": "0a3404882583c05d",
        "type": "function",
        "z": "c8b77ff3.ab501",
        "name": "Bloque de arranque por protección",
        "func": "var Prot = global.get(\"Protections.General\",'memoryOnly')||false;\nvar FallaGeneral = global.get(\"IO.Functions.DO['Falla general']\",\"memoryOnly\")||false;\nif ((Prot || FallaGeneral) &&  ((msg.command == \"Arranque 'Reverse'\") || (msg.command == \"Arranque 'Forward'\")) ){return;}\nelse{return msg;}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 150,
        "wires": [
            [
                "cbfdace94f49381c"
            ]
        ]
    },
    {
        "id": "ab6b7001.e0de8",
        "type": "switch",
        "z": "c8b77ff3.ab501",
        "name": "comando",
        "property": "command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Arranque",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "Parada",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1250,
        "y": 190,
        "wires": [
            [
                "4f7a0a355a6d4671"
            ],
            [
                "73a46152.11ed6"
            ]
        ]
    },
    {
        "id": "73a46152.11ed6",
        "type": "change",
        "z": "c8b77ff3.ab501",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "#:(memoryOnly)::Active0",
                "pt": "flow",
                "to": "#:(memoryOnly)::C2S.Drive_Status.Active",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 230,
        "wires": [
            [
                "db3132d3.18699"
            ]
        ]
    },
    {
        "id": "db3132d3.18699",
        "type": "function",
        "z": "c8b77ff3.ab501",
        "name": "time",
        "func": "var rampadesc = global.get(\"C2S.Speed_Control.Decel\")||0;\nvar hzmotor = global.get(\"C2S.Motor_Control.Nameplate.Hertz\")||60;\nvar frecact = global.get(\"C2S.Implicit.Output_Frequency\",\"memoryOnly\")||0;\nmsg.delay = parseInt((Math.abs(frecact/hzmotor)*rampadesc)*1000+500);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 230,
        "wires": [
            [
                "25962296.9a6efe"
            ]
        ]
    },
    {
        "id": "25962296.9a6efe",
        "type": "delay",
        "z": "c8b77ff3.ab501",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1710,
        "y": 230,
        "wires": [
            [
                "e6b8689589569367"
            ]
        ]
    },
    {
        "id": "90c2a4fe8d950dec",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "trueAceptado",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.aceptado",
                "pt": "global",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "55c924f19922f406",
        "type": "ui_switch",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "Interruptor",
        "label": "ACTIVAR CONTROL ON/OFF",
        "tooltip": "",
        "group": "b33c308eb96337b7",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 210,
        "y": 800,
        "wires": [
            [
                "5786f66db80d6e72",
                "6be8d24e43675b53",
                "856b8deec1318ea5"
            ]
        ]
    },
    {
        "id": "876e5483b107547a",
        "type": "ui_button",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "Iniciar",
        "group": "b33c308eb96337b7",
        "order": 36,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Actualizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "1e14c7a3b1944014"
            ]
        ]
    },
    {
        "id": "e9acb49079908ed9",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.confirmar",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c37e65fc3624b7f7",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.ton",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 80,
        "wires": [
            [
                "876e5483b107547a"
            ]
        ]
    },
    {
        "id": "525cd360bcb57854",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.toff",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 120,
        "wires": [
            [
                "876e5483b107547a"
            ]
        ]
    },
    {
        "id": "fbbad81c51b7c9d2",
        "type": "ui_text_input",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "label": "Horas_Marcha",
        "tooltip": "",
        "group": "b33c308eb96337b7",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 260,
        "wires": [
            [
                "f5900ce8e402ca3f"
            ]
        ]
    },
    {
        "id": "14fb6705bc502211",
        "type": "ui_text_input",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "label": "Minutos_Marcha",
        "tooltip": "",
        "group": "b33c308eb96337b7",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 300,
        "wires": [
            [
                "256a01f253197f61"
            ]
        ]
    },
    {
        "id": "167835101b38128a",
        "type": "ui_text_input",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "label": "Segundos_Marcha",
        "tooltip": "",
        "group": "b33c308eb96337b7",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 340,
        "wires": [
            [
                "617fe08dd990bc56"
            ]
        ]
    },
    {
        "id": "f5900ce8e402ca3f",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.Horas_Marcha",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "256a01f253197f61",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.Minutos_Marcha",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "617fe08dd990bc56",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.Segundos_Marcha",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9b8f3a9cc10dddf9",
        "type": "function",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "Tiempo ON/OFF",
        "func": "var HMarcha = flow.get(\"Control.Controlon_off.Horas_Marcha\")|| 0;\nvar MMarcha = flow.get(\"Control.Controlon_off.Minutos_Marcha\") || 0;\nvar SMarcha = flow.get(\"Control.Controlon_off.Segundos_Marcha\") || 0;\n\nvar HPausa = flow.get(\"Control.Controlon_off.Horas_Pausa\") || 0;\nvar MPausa = flow.get(\"Control.Controlon_off.Minutos_Pausa\") || 0;\nvar SPausa = flow.get(\"Control.Controlon_off.Segundos_Pausa\") || 0;\n\nvar TMarcha = { payload: (HMarcha * 3600) + (MMarcha * 60) + SMarcha};\nvar TPausa = { payload: (HPausa * 3600) + (MPausa * 60) + SPausa };\n\nnode.status({ fill: \"red\", shape: \"dot\", text: \"TMarcha: \"+ TMarcha.payload + \" TPausa:\" + TPausa.payload });\n\nreturn [TMarcha,TPausa];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 120,
        "wires": [
            [
                "c37e65fc3624b7f7"
            ],
            [
                "525cd360bcb57854"
            ]
        ]
    },
    {
        "id": "2f612e1ebb27e1f0",
        "type": "ui_text_input",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "label": "Horas_Pausa",
        "tooltip": "",
        "group": "b33c308eb96337b7",
        "order": 17,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 380,
        "wires": [
            [
                "0fc93e2433e0e8fd"
            ]
        ]
    },
    {
        "id": "88a857e06437d475",
        "type": "ui_text_input",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "label": "Minutos_Pausa",
        "tooltip": "",
        "group": "b33c308eb96337b7",
        "order": 22,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 420,
        "wires": [
            [
                "2c5bc1422dee2f23"
            ]
        ]
    },
    {
        "id": "e8e036dd9c3ab8cc",
        "type": "ui_text_input",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "label": "Segundos_Pausa",
        "tooltip": "",
        "group": "b33c308eb96337b7",
        "order": 27,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 460,
        "wires": [
            [
                "b9ecd8244f4759a0"
            ]
        ]
    },
    {
        "id": "0fc93e2433e0e8fd",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.Horas_Pausa",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "2c5bc1422dee2f23",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.Minutos_Pausa",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b9ecd8244f4759a0",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "26573071a48db557",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.Segundos_Pausa",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "025b1dc9349bcd2e",
        "type": "ui_text_input",
        "z": "97a26d9e76390f7d",
        "g": "7a43ddafe014d4ab",
        "name": "",
        "label": "REFERENCIA (SPM)",
        "tooltip": "",
        "group": "b33c308eb96337b7",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 580,
        "wires": [
            [
                "e5799ad112c8e627",
                "70440e787acffd19"
            ]
        ]
    },
    {
        "id": "1a5c6702e1d15a8f",
        "type": "inject",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 750,
        "y": 1120,
        "wires": [
            [
                "ece217650efbf988"
            ]
        ]
    },
    {
        "id": "ece217650efbf988",
        "type": "function",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "name": "LogicaControlOnOff",
        "func": "var habilitado = global.get(\"Control.Controlon_off.aceptado\");\nvar ton = global.get(\"Control.Controlon_off.ton\") || 0;//tiempo de alta\nvar toff = global.get(\"Control.Controlon_off.toff\") || 0;//tiempo de baja\nvar estado = global.get(\"Control.Controlon_off.estado\") || false;//estado del equipo\nvar Frecuencia = global.get(\"controlSRP.Variador.Frecuencia\") || 0;\nvar activar_control = global.get(\"Arrancar_Control\")||false;\nvar ctr = context.get(\"ctr\",ctr)||0;\nvar time = 0;\nif (activar_control == true){\n    if (Frecuencia > 0) {\n        if (habilitado == true) {\n            //visualizar estado del habilitado\n            node.status({ fill: \"green\", shape: \"dot\", text: \"habilitado\" });\n            if (toff != 0 && ton != 0) {\n                // logica para cambiar entre estados\n                if (estado == true && activar_control == true) {\n                    node.status({ fill: \"green\", shape: \"dot\", text: estado });\n                    ctr = ctr + 1;\n                    context.set(\"ctr\", ctr)//guardar contador\n                    time = ton - ctr;\n                    if (ton == ctr) {\n                        global.set(\"Control.Controlon_off.estado\", false);\n                        context.set(\"ctr\", 0)//setear el contador\n                    } else if (ctr > ton) {\n                        //caso en el cual se cambia el tiempo del contador pot pantalla\n                        context.set(\"ctr\", 0)//setear el contador\n                    }\n                } else if(estado == false && activar_control == true){\n                    node.status({ fill: \"red\", shape: \"dot\", text: estado });\n                    ctr = ctr + 1;\n                    context.set(\"ctr\", ctr)//guardar contador\n                    time = toff - ctr;\n                    if (toff == ctr) {\n                        global.set(\"Control.Controlon_off.estado\", true);\n                        context.set(\"ctr\", 0)//setear el contador\n                    } else if (ctr > toff) {\n                        //caso en el cual se cambia el tiempo del contador pot pantalla\n                        context.set(\"ctr\", 0)//setear el contador\n                    }\n                }\n                time = { payload: time };\n                estado = { payload: estado };\n                return [estado, time];\n            } else {\n                node.status({ fill: \"red\", shape: \"dot\", text: \"tiemposNoConfigurados\" });\n            }\n        } else if (habilitado == false) {\n            node.status({ fill: \"red\", shape: \"dot\", text: \"Deshabilitado\" });\n            global.set(\"Control.Controlon_off.estado\", true);\n            context.set(\"ctr\", 0)//setear el contador\n            time = { payload: time };\n            estado = { payload: false };\n            return [estado, time];\n        }\n\n    }\n\n}else if (activar_control == false){\n    node.status({ fill: \"red\", shape: \"dot\", text: \"Deshabilitado\" });\n    global.set(\"Control.Controlon_off.estado\", 0);\n    activar_control = global.set(\"Arrancar_Control\") || false;\n    context.set(\"ctr\", 0)//setear el contador\n    time = { payload: time};\n    estado = { payload: \"desabilitado\" };\n    return [estado, time];\n\n}\n\n\ncontext.set(\"habilitado\",habilitado,\"memoryOnly\");\ncontext.set(\"estado\",estado,\"memoryOnly\");\ncontext.set(\"toff\",toff,\"memoryOnly\");\ncontext.set(\"ton\",ton,\"memoryOnly\");\ncontext.set(\"time\",time,\"memoryOnly\");\ncontext.set(\"activar_control\", activar_control, \"memoryOnly\");\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1120,
        "wires": [
            [
                "24af01133d6a3313",
                "bf5de5ea2d599498"
            ],
            [
                "ab9f3c56846f6405",
                "2d4339ea4d29470a"
            ]
        ]
    },
    {
        "id": "ab9f3c56846f6405",
        "type": "debug",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "name": "tiempo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1160,
        "y": 1100,
        "wires": []
    },
    {
        "id": "2d4339ea4d29470a",
        "type": "function",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "name": "conversionDia",
        "func": "var InputSeconds = msg.payload;\nif(InputSeconds >= 0){\n    // si no genera numeros negativos\n    var Days = parseInt(InputSeconds / 86400);\n    var Hours = parseInt((InputSeconds - (Days) * 86400) / 3600);\n    var SegRest = parseInt(InputSeconds - (Hours * 3600) - (Days * 86400));\n    var Min = parseInt(SegRest / 60);\n    var seconds = parseInt(SegRest - (Min * 60));\n    \n    // conversion a string\n    Days = Days.toString()\n    Hours = Hours.toString()\n    Min = Min.toString()\n    seconds = seconds.toString()\n    //concatenacion\n    var date = Days; date += \":\"; date += Hours; date += \":\"; date += Min; date += \":\";date += seconds;\n    // retornar el mensaje\n    msg.payload = date;\n    // guardar las variables\n    context.set(\"Days\", (Days),\"memoryOnly\");\n    context.set(\"InputSeconds\", InputSeconds, \"memoryOnly\");\n    context.set(\"Hours\", Hours, \"memoryOnly\");\n    context.set(\"SegRest\", SegRest, \"memoryOnly\");\n    context.set(\"Min\", Min, \"memoryOnly\");\n    context.set(\"seconds\", seconds, \"memoryOnly\");\n    context.set(\"date\", date, \"memoryOnly\");\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1160,
        "wires": [
            [
                "2b30a6219b8e68d1",
                "09761a95081546b8"
            ]
        ]
    },
    {
        "id": "2b30a6219b8e68d1",
        "type": "debug",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "name": "diaHora",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1380,
        "y": 1200,
        "wires": []
    },
    {
        "id": "24af01133d6a3313",
        "type": "ui_led",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "order": 12,
        "group": "b33c308eb96337b7",
        "width": 3,
        "height": 3,
        "label": "Indicador",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#808080",
                "value": "desabilitado",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Indicador",
        "x": 1180,
        "y": 1200,
        "wires": []
    },
    {
        "id": "09761a95081546b8",
        "type": "ui_text",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "group": "b33c308eb96337b7",
        "order": 24,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Tiempo:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1380,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e5799ad112c8e627",
        "type": "function",
        "z": "97a26d9e76390f7d",
        "g": "7a43ddafe014d4ab",
        "name": "conversionSPM",
        "func": "var spm = msg.payload;\nvar Dc = global.get(\"controlSRP.Variador.Dc\")||0;\nvar nPolosMotor = global.get(\"controlSRP.Variador.nPolosMotor\")||0;\nvar Dm = global.get(\"controlSRP.Variador.Dm\")||0;\nvar rgb = global.get(\"controlSRP.Variador.rgb\")||0;\n// condicion que valida que esten creadas todas las variables\nif (Dc != 0 || Dm != 0 || rgb != 0 || nPolosMotor != 0){\n    // calculo de la ecuación\n    var hz = (spm*nPolosMotor*rgb*Dc)/(60*Dm);\n    msg.payload = hz;\n    msg.topic = \"Configurado\"\n    node.status({ fill: \"green\", shape: \"dot\", text: msg.topic});\n    context.set(\"Dc\", Dc,\"memoryOnly\")\n    context.set(\"nPolosMotor\", nPolosMotor,\"memoryOnly\")\n    context.set(\"Dm\", Dm,\"memoryOnly\")\n    context.set(\"hz\", hz,\"memoryOnly\")\n    return msg;\n}else{\n    msg.topic = \"noConfigurado\"\n    node.status({ fill: \"red\", shape: \"dot\", text: msg.topic});\n    context.set(\"Dc\", Dc,\"memoryOnly\")\n    context.set(\"nPolosMotor\", nPolosMotor,\"memoryOnly\")\n    context.set(\"Dm\", Dm,\"memoryOnly\")\n\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 600,
        "wires": [
            [
                "c9cdf69d7792c813",
                "ebf9f97b644ccd1b"
            ]
        ]
    },
    {
        "id": "70440e787acffd19",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "7a43ddafe014d4ab",
        "name": "inicializar",
        "rules": [
            {
                "t": "set",
                "p": "controlSRP.Variador.nPolosMotor",
                "pt": "global",
                "to": "4",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "controlSRP.Variador.rgb",
                "pt": "global",
                "to": "30",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "controlSRP.Variador.Dm",
                "pt": "global",
                "to": "2",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "controlSRP.Variador.Dc",
                "pt": "global",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c9cdf69d7792c813",
        "type": "ui_text",
        "z": "97a26d9e76390f7d",
        "g": "7a43ddafe014d4ab",
        "group": "b33c308eb96337b7",
        "order": 20,
        "width": 4,
        "height": 2,
        "name": "",
        "label": "Frecuencia (Hz)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1240,
        "y": 560,
        "wires": []
    },
    {
        "id": "dc52a865f16adaf2",
        "type": "function",
        "z": "97a26d9e76390f7d",
        "name": "Set Parametros de Tiempo",
        "func": "var ton = global.get(\"Control.Controlon_off.ton\") || 0;\nvar toff = global.get(\"Control.Controlon_off.toff\") || 0;\nvar Frecuencia = global.get(\"controlSRP.Variador.Frecuencia\")||0;\nvar Dc = global.get(\"controlSRP.Variador.Dc\") || 0;\nvar nPolosMotor = global.get(\"controlSRP.Variador.nPolosMotor\") || 0;\nvar Dm = global.get(\"controlSRP.Variador.Dm\") || 0;\nvar rgb = global.get(\"controlSRP.Variador.rgb\") || 0;\nif(msg.payload == true){\n    //conversión ton\n    var InputSeconds = ton;\n    var Days = parseInt(InputSeconds / 86400);\n    var Hours = parseInt((InputSeconds - (Days) * 86400) / 3600);\n    var SegRest = parseInt(InputSeconds - (Hours * 3600) - (Days * 86400));\n    var min = parseInt(SegRest / 60);\n    var seconds = parseInt(SegRest - (min * 60));\n    context.set(\"Days\", (Days));\n    context.set(\"InputSeconds\", InputSeconds);\n    context.set(\"Hours\", Hours);\n    context.set(\"SegRest\", SegRest);\n    context.set(\"min\", min);\n    context.set(\"seconds\", seconds);\n    Days = { payload: Days };\n    Hours = { payload: Hours };\n    min = { payload: min };\n    seconds = { payload: seconds };\n    //Conversión toff\n    var InputSeconds2 = toff;\n    var Days2 = parseInt(InputSeconds2 / 86400);\n    var Hours2 = parseInt((InputSeconds2 - (Days2) * 86400) / 3600);\n    var SegRest2 = parseInt(InputSeconds2 - (Hours2 * 3600) - (Days2 * 86400));\n    var min2 = parseInt(SegRest2 / 60);\n    var seconds2 = parseInt(SegRest2 - (min2 * 60));\n    context.set(\"Days2\", (Days2));\n    context.set(\"InputSeconds2\", InputSeconds2);\n    context.set(\"Hours2\", Hours2);\n    context.set(\"SegRest2\", SegRest2);\n    context.set(\"min2\", min2);\n    context.set(\"seconds2\", seconds2);\n    //conversión Hz a SPM\n    var spm = (Frecuencia * 60 * Dm) / (rgb * nPolosMotor * Dc);\n    context.set(\"Dc\", Dc, \"memoryOnly\")\n    context.set(\"nPolosMotor\", nPolosMotor, \"memoryOnly\")\n    context.set(\"Dm\", Dm, \"memoryOnly\")\n    context.set(\"spm\", spm, \"memoryOnly\")\n// Declaración de parametros en msg.\n    Days2 = { payload: Days2 };\n    Hours2 = { payload: Hours2 };\n    min2 = { payload: min2 };\n    seconds2 = { payload: seconds2 };\n    spm = {payload:spm};\n    return [Hours, min, seconds,Hours2, min2, seconds2,spm];\n}\n",
        "outputs": 7,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "fbbad81c51b7c9d2"
            ],
            [
                "14fb6705bc502211"
            ],
            [
                "167835101b38128a"
            ],
            [
                "2f612e1ebb27e1f0"
            ],
            [
                "88a857e06437d475"
            ],
            [
                "e8e036dd9c3ab8cc"
            ],
            [
                "025b1dc9349bcd2e",
                "e9ef12b8934b70c8"
            ]
        ]
    },
    {
        "id": "667d890688ef13ec",
        "type": "ui_date_picker",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "",
        "label": "Fecha:",
        "group": "b33c308eb96337b7",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2a0c246b178415ae",
        "type": "ui_button",
        "z": "97a26d9e76390f7d",
        "name": "",
        "group": "b33c308eb96337b7",
        "order": 31,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Predeterminado",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "dc52a865f16adaf2"
            ]
        ]
    },
    {
        "id": "db4256d9d91906e7",
        "type": "function",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "confirmar arranque",
        "func": "var Arrancar_Control = global.get(\"Arrancar_Control\")||0;\nif (msg.payload == true && Arrancar_Control == 1){\n    msg.payload = \"¿Desea Arrancar Control ON/OFF?\";\n    msg.topic = \"Arrancar Control On/Off\";\n    msg.estado = true;\n        \n    }\nif (msg.payload == false && Arrancar_Control == 1) {\n        msg.payload = \"¿Desea Detener Control ON/OFF?\";\n        msg.topic = \"Detener Control On/Off\";\n        msg.estado = false;\n    }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 800,
        "wires": [
            [
                "c51151e6106ab441"
            ]
        ]
    },
    {
        "id": "a62be44d478fd497",
        "type": "ui_toast",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Aceptar",
        "cancel": "Cancelar",
        "raw": false,
        "topic": "",
        "name": "confirm",
        "x": 1040,
        "y": 780,
        "wires": [
            [
                "28a1b81a153ece02"
            ]
        ]
    },
    {
        "id": "28a1b81a153ece02",
        "type": "switch",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "if",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Aceptar",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cancelar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 780,
        "wires": [
            [
                "90c2a4fe8d950dec"
            ],
            []
        ]
    },
    {
        "id": "c51151e6106ab441",
        "type": "switch",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "estado",
        "property": "estado",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 800,
        "wires": [
            [
                "a62be44d478fd497"
            ],
            [
                "700b07323e59394d"
            ]
        ]
    },
    {
        "id": "700b07323e59394d",
        "type": "ui_toast",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Aceptar",
        "cancel": "Cancelar",
        "raw": false,
        "topic": "",
        "name": "confirm",
        "x": 1040,
        "y": 820,
        "wires": [
            [
                "4ddb7c483b76e187"
            ]
        ]
    },
    {
        "id": "4ddb7c483b76e187",
        "type": "switch",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "if",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Aceptar",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cancelar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 820,
        "wires": [
            [
                "856b8deec1318ea5"
            ],
            []
        ]
    },
    {
        "id": "856b8deec1318ea5",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "falseAceptado",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.aceptado",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 800,
        "wires": [
            [
                "a32e93d6c1299c3f"
            ]
        ]
    },
    {
        "id": "ebf9f97b644ccd1b",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "7a43ddafe014d4ab",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "controlSRP.Variador.Frecuencia",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5464cbc6e13e1e7f",
        "type": "ui_toast",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "position": "top left",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "Aceptar",
        "cancel": "Cancelar",
        "raw": false,
        "topic": "",
        "name": "SPM",
        "x": 950,
        "y": 700,
        "wires": []
    },
    {
        "id": "2e284f8dad321902",
        "type": "function",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "Popup  de SPM",
        "func": "var Frecuencia = global.get(\"controlSRP.Variador.Frecuencia\")||0;\nif(msg.payload == true){\n    if (Frecuencia == 0) {\n        msg.payload = \"SPM Invalido\";\n    }\n    else{\n        msg.payload = \"SPM Validos\";\n    }\n\n}\nelse{\n    msg.payload = \"Control ON/OFF Inactivo\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 720,
        "wires": [
            [
                "4a073f2b7cbd9967"
            ]
        ]
    },
    {
        "id": "f7fbd465f57d789e",
        "type": "ui_toast",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "position": "top left",
        "displayTime": "3",
        "highlight": "green",
        "sendall": true,
        "outputs": 0,
        "ok": "Aceptar",
        "cancel": "Cancelar",
        "raw": false,
        "topic": "",
        "name": "SPM",
        "x": 950,
        "y": 740,
        "wires": []
    },
    {
        "id": "4a073f2b7cbd9967",
        "type": "switch",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "if",
        "property": "controlSRP.Variador.Frecuencia",
        "propertyType": "global",
        "rules": [
            {
                "t": "lte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 720,
        "wires": [
            [
                "5464cbc6e13e1e7f"
            ],
            [
                "f7fbd465f57d789e"
            ]
        ]
    },
    {
        "id": "e9ef12b8934b70c8",
        "type": "debug",
        "z": "97a26d9e76390f7d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "1e14c7a3b1944014",
        "type": "function",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "Confirmar Actualización",
        "func": "if(msg.payload == true){\n    msg.payload = \"¿Desea Actualizar Datos Control ON/OFF?\";\n    msg.topic = \"Actualización Confirmada Control On/Off\";\n    msg.actualizar = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 120,
        "wires": [
            [
                "5e74ed0d74c32c1a"
            ]
        ]
    },
    {
        "id": "5e74ed0d74c32c1a",
        "type": "ui_toast",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "red",
        "sendall": true,
        "outputs": 1,
        "ok": "Aceptar",
        "cancel": "Cancelar",
        "raw": false,
        "topic": "",
        "name": "SPM",
        "x": 1430,
        "y": 80,
        "wires": [
            [
                "dcc2e38d1a69f3e4"
            ]
        ]
    },
    {
        "id": "dcc2e38d1a69f3e4",
        "type": "switch",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "if",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Aceptar",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cancelar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1570,
        "y": 80,
        "wires": [
            [
                "e9acb49079908ed9",
                "4f1b315f5d9b3851"
            ],
            [
                "ba6328cf9c55541d"
            ]
        ]
    },
    {
        "id": "4f1b315f5d9b3851",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1730,
        "y": 140,
        "wires": [
            [
                "9b8f3a9cc10dddf9"
            ]
        ]
    },
    {
        "id": "ba6328cf9c55541d",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "623ed09f1a445c2b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 160,
        "wires": [
            [
                "dc52a865f16adaf2"
            ]
        ]
    },
    {
        "id": "d82c1b712d554325",
        "type": "ui_button",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "Arrancar Control ON/OFF",
        "group": "b33c308eb96337b7",
        "order": 33,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Arrancar Control ON/OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 700,
        "wires": [
            [
                "2e284f8dad321902",
                "db4256d9d91906e7",
                "b3f32032e938eacc"
            ]
        ]
    },
    {
        "id": "a32e93d6c1299c3f",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "name": "falseAceptado",
        "rules": [
            {
                "t": "set",
                "p": "Control.Controlon_off.aceptado",
                "pt": "global",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a0fa8d9f1acb3ca5",
        "type": "ui_button",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "Detener Control ON/OFF",
        "group": "b33c308eb96337b7",
        "order": 38,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Detener Control ON/OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 880,
        "wires": [
            [
                "db4256d9d91906e7"
            ]
        ]
    },
    {
        "id": "5786f66db80d6e72",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Arrancar_Control",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "256e0cd30519e411",
        "type": "ui_toast",
        "z": "97a26d9e76390f7d",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "Aceptar",
        "cancel": "Cancelar",
        "raw": false,
        "topic": "",
        "name": "ON/OFF",
        "x": 460,
        "y": 960,
        "wires": []
    },
    {
        "id": "6be8d24e43675b53",
        "type": "function",
        "z": "97a26d9e76390f7d",
        "name": "Control ON/OFF Mensaje",
        "func": "if(msg.payload == \"1\"){\n    msg.payload = \"Control ON/OFF Activo\";\n}\nelse if (msg.payload == \"0\"){\n    msg.payload = \"Control ON/OFF Inactivo\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 920,
        "wires": [
            [
                "256e0cd30519e411"
            ]
        ]
    },
    {
        "id": "649ab25d25f0fac6",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "name": "conf",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Basic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "bf5de5ea2d599498",
        "type": "switch",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 1020,
        "wires": [
            [
                "649ab25d25f0fac6"
            ],
            [
                "abad8208a8a02cb2"
            ]
        ]
    },
    {
        "id": "abad8208a8a02cb2",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "28c8f5c5afe69e5a",
        "name": "conf",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Basic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "8e4d801d44e59e91",
        "type": "inject",
        "z": "97a26d9e76390f7d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 560,
        "y": 1320,
        "wires": [
            [
                "b9f1866dfdfee4d5"
            ]
        ]
    },
    {
        "id": "b9f1866dfdfee4d5",
        "type": "subflow:1fbf295f73cccb97",
        "z": "97a26d9e76390f7d",
        "name": "",
        "x": 810,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "b3f32032e938eacc",
        "type": "change",
        "z": "97a26d9e76390f7d",
        "g": "2a06f1ebdf6594bd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Arrancar_Control.true",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 680,
        "wires": [
            []
        ]
    }
]